html {
  background: white;
  color: black;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  line-height: 1.5; }

body {
  color: #04083c;
  margin: 0;
  text-align: center; }

.container {
  background: #000a28;}

header {
  background: white;
  border: none;
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
  width: 560px;
}

.main {
  background: white;
  padding: 40px;
}

section, .main {
  border: none;
  margin: 0 auto;
  width: 880px;
}

footer {
  background: white;
  border: none;
  height: 184px;
  margin: 0 auto;
  width: 880px;
}

.activity {
  float: left;
  height: 350px;
  width: 33%; }

.nav {
  display: inline-block;
  padding-left: 10px;
  margin-bottom: 50px;
}

.nav li {
    float: left;
    padding-right: 10px;
}

.group {
  *zoom: 1; }
.group:before, .group:after {
    content: "";
    display: table; }
.group:after {
    clear: both; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

.usback {
  margin-bottom: 50px;
  width: 100%; }

.us {
  width: 100%; }

.us:hover {
  opacity: 1;
  filter: alpha(opacity=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)"; }


.hr {
  border-bottom: dotted 2px rgba(4, 8, 60, 0.5);
  display: inline-block;
  padding-bottom: 0.2em; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0; }
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

a {
  color: #04083c;
  text-decoration: none; }
  a:focus {
    outline: thin dotted;
    color: #1c2bf0;
    color: rgba(4, 8, 60, 0.5); }
  a:active, a:hover {
    outline: 0; }
  a:active {
    color: #0e1bcb;
    color: rgba(4, 8, 60, 0.6); }
  a:hover {
    color: #0a159c;
    color: rgba(4, 8, 60, 0.7); }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Chunk-Five";
  src: url("../fonts/chunkfive-webfont.eot");
  src: url("../fonts/chunkfive-webfont.eot") format("embedded-opentype"), url("../fonts/chunkfive-webfont.woff") format("woff"), url("../fonts/chunkfive-webfont.ttf") format("truetype"), url("../fonts/chunkfive-webfont.svg") format("svg"); }

body, h2, h3, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100; }

h1, h4 {
  font-family: "Chunk-Five"; }

h1, h2, h3, h4, h5, h6 {
  overflow: visible; }

h1 {
  font-size: 10.5em;
  line-height: 1; }

h2, h5 {
  font-size: 3em; }

h3 {
  font-size: 3.6em; }

h4 {
  font-size: 4.5em; }

h6 {
  font-size: 2.7em; }

p, dl, span {
  font-size: 1.95em; }

li {
  font-size: 1.95em; }

nav li {
  font-size: 2.25em; }

h1 {
  letter-spacing: -0.03em;
  margin: 0 0 -24px;
  overflow: visible;
  zoom: 1; }

.text-spread {
  letter-spacing: 0.56em;
  padding-left: 20px; }

h2, h4, h5, h6 {
  margin: 0; }

h3 {
  margin: 0.5em 0 0.3em 0; }

blockquote {
  font-size: 0.96em; }

b, strong {
  font-weight: 600; }

em {
  font-weight: 200; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

.underline {
  border-bottom: 1px dotted #000a28;
  padding-bottom: 4px; }

.justify {
  text-align: justify; }

.left {
  text-align: left; }
  .left li {
    padding-left: 6%; }